<div ng-controller="PerformanceController as vm">  
  <md-content ng-show="$showOptions" class="options">
    <md-radio-group ng-model="vm.performancePeriod" ng-change="vm.changePeriod()">
      <md-radio-button  value="week">Weekly</md-radio-button>
      <md-radio-button  value="month">Monthly</md-radio-button>
    </md-radio-group>
  </md-content>
  <md-content layout-gt-md="row" layout-align="center center">
    <md-progress-circular ng-if="vm.dataLoading" md-mode="indeterminate"></md-progress-circular>
    <div ng-if="!vm.dataLoading" layout="column" flex-gt-sm="66">
      <nvd3 flex options="vm.motorPremiumChartOption" data="vm.motorPremiumChartData.premiumForDuration"></nvd3>
    </div>
    <div ng-if="!vm.dataLoading" layout="column" flex-gt-sm="66">
      <nvd3 flex options="vm.lifePremiumChartOption" data="vm.lifePremiumChartData.premiumForDuration"></nvd3>
    </div>
    <div ng-if="!vm.dataLoading" layout="column" flex-gt-sm="66">
      <nvd3 flex options="vm.healthPremiumChartOption" data="vm.healthPremiumChartData.premiumForDuration"></nvd3>
    </div>
</md-content>
</div>
